/*=========================
Explore by Colors
=========================*/

.color-section{

    width:100%;
    height:210px;

    padding-left:60px;
    padding-right:60px;

}


.color-wrapper{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:40px;

}


/* Left Heading */

.color-title h2{

    font-size:48px;

    font-weight:500;

    color:#111;

    white-space:nowrap;

}

.color-title{

    flex:1;

}


/* Right Buttons */

.color-wrapper{

    width:100%;

    display:flex;

    align-items:center;

}



.color-row{

    display:flex;

    gap:10px;

}



/* Single Color Button */

.color-btn{

    height:57px;

    display:flex;

    align-items:center;

    gap:12px;

    padding-left:12px;

    padding-right:20px;

    border:1px solid #ddd;

    border-radius:200px;

    background:#fff;

    font-size:14px;

    font-weight:500;

    white-space:nowrap;

    cursor:pointer;

}
.color-buttons{

    margin-left:auto;

    display:flex;

    flex-direction:column;

    gap:8px;

}


/* Color Circle */

.color-btn span{

    width:25px;

    height:25px;

    border-radius:50%;

    flex-shrink:0;

}


/* Colors */

.red{
    background:#f6b6b6;
}

.lime{
    background:#9cff00;
}

.navy{
    background:#001f54;
}

.white{
    background:#ffffff;
    border:1px solid #ccc;
}

.sky{
    background:#7ec8ff;
}

.purple{
    background:#8e44ad;
}

.pink{
    background:#ff8fcf;
}

.yellow{
    background:#ffd93d;
}

.green{
    background:#0b5d1e;
}