
.testimonial-section {

    .testimonial-img {
        height: 38rem;
        width: 100%;
        object-fit: cover;
        display: block;
    }

    .testimonial-text {
        max-width: 22rem;
        line-height: 1.5;
        font-size: 1rem;
        color: #eeeeee;
    }

    h2 {
        font-size: 3.5rem;
        letter-spacing: -1px;
    }


    @media (max-width: 768px) {

        .testimonial-img {
            height: 24rem;
        }

        h2 {
            font-size: 2.2rem;
        }

        .testimonial-text {
            max-width: 18rem;
            font-size: 0.9rem;
            line-height: 1.4;
        }
    }

    @media (max-width: 576px) {

        .testimonial-img {
            height: 20rem;
        }

        h2 {
            font-size: 1.6rem;
            line-height: 1.2;
        }

        .testimonial-text {
            max-width: 100%;
            font-size: 0.8rem;
            line-height: 1.4;
        }
    }

}