.trending {
    padding: 80px 0;

    h2 {
        font-size: 38px;
        font-weight: 700;
        color: #222;
    }

    /* Filter Buttons */

    .btn-filter {
        background: transparent;
        border: 1px solid #ddd;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 14px;
        font-weight: 600;
        color: #555;
        transition: .3s;
    }

    .btn-filter:hover,
    .btn-filter.active {
        border: 1px solid #7c3aed;
        color: #7c3aed;
        background: #fff;
    }

    /* Card */

    .card {
        border: none;
        background: transparent;
    }

    /* Image */
    .products{
    display:none;
    }

    .products.active{
        display:block;
    }

    .product-img{
        height:300px;
        background:#F5F5F5;
        border-radius:20px;
        display:flex;
        justify-content:center;
        align-items:center;
        overflow:hidden;
    }
    .product-img img{
        max-width:90%;
        max-height:90%;
        object-fit:contain;
    }
    /* Shoes */
    .shoe-img img{
        width:100%;
        height:100%;
        object-fit:cover;
    }
    
        /* Shorts */
    .shorts-img img{
        width:100%;
        height:100%;
        object-fit:cover;
    }
    /* Shorts */
    .shorts-img img{
        width:100%;
        height:300px;
        object-fit:cover;
    }


    /* Large Images */

    .col-lg-6 .product-img img {
        height: 320px;
    }

    .product-img:hover img {
        transform: scale(1.08);
    }

    /* Wishlist Button */

    .wishlist-btn {
        position: absolute;
        top: 15px;
        right: 15px;

        width: 42px;
        height: 42px;

        border: none;
        border-radius: 50%;
        background: #fff;

        display: flex;
        justify-content: center;
        align-items: center;

        box-shadow: 0 8px 20px rgba(0,0,0,.12);

        transition: .3s;
    }

    .wishlist-btn:hover {
        background: #7c3aed;
        color: #fff;
    }

    .wishlist-btn i {
        font-size: 18px;
    }

    /* Text */

    h6 {
        font-size: 18px;
        font-weight: 600;
        color: #222;
        margin-top: 18px;
    }

    span {
        color: #777;
        font-size: 16px;
    }
}


/* Responsive */

@media(max-width:991px){

    .trending{

        h2{
            margin-bottom:20px;
        }

        .category-btns{
            margin-top:15px;
        }

        .product-img img{
            height:280px;
        }

    }

}

@media(max-width:767px){

    .trending{

        .product-img img{
            height:250px;
        }

        .btn-filter{
            padding:8px 16px;
            font-size:13px;
        }

    }

}