// =====================
// Colors
// =====================
$primary: #111;
$secondary: #777;
$white: #fff;
$black: #000;
$border: #e5e5e5;
$gray: #999;

// =====================
// Font Size
// =====================
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-20: 20px;
$fs-22: 22px;
$fs-32: 32px;
$fs-48: 48px;

// =====================
// Font Weight
// =====================
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// =====================
// Radius
// =====================
$radius-sm: 8px;
$radius-md: 15px;
$radius-lg: 30px;

// =====================
// Spacing
// =====================
$p-10: 10px;
$p-12: 12px;
$p-15: 15px;
$p-20: 20px;
$p-30: 30px;
$p-40: 40px;
$p-60: 60px;
$p-80: 80px;
$p-90: 90px;

// =====================
// Transition
// =====================
$transition: all .3s ease;
